<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss}  [%c{1}]  %-5p  %M - %m%n"/>
        </Console>

        <!-- Rolling File Appender -->
        <RollingFile name="RollingFile" fileName="/projet/logs/projet-1-ouest-france/application.log"
                     filePattern="/projet/logs/projet-1-ouest-france/application-%d{yyyy-MM-dd}.log" append="true">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss}  [%c{1}]  %-5p  %M - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="/projet/logs/projet-1-ouest-france" maxDepth="1">
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- Root Logger -->
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Root>

        <!-- Application Loggers -->
        <Logger name="com.readpdfaffichette" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Logger>
    </Loggers>
</Configuration>
